KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/early_debug.o \
$(ARCHDIR)/boot/early_paging.o \
$(ARCHDIR)/boot/multiboot.o \
$(ARCHDIR)/apic.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/init.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/isr_stubs.o \
$(ARCHDIR)/memlayout.o \
$(ARCHDIR)/mpt.o \
$(ARCHDIR)/multiboot_init.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/palloc.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/segmentation.o \
$(ARCHDIR)/vga_debug.o \
