KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/early_debug.o \
$(ARCHDIR)/boot/early_paging.o \
$(ARCHDIR)/boot/multiboot.o \
$(ARCHDIR)/cpu/ap_entry.o \
$(ARCHDIR)/cpu/apic.o \
$(ARCHDIR)/cpu/cpu.o \
$(ARCHDIR)/cpu/idt.o \
$(ARCHDIR)/cpu/segmentation.o \
$(ARCHDIR)/cpu/smp.o \
$(ARCHDIR)/cpu/spinlock.o \
$(ARCHDIR)/paging/core.o \
$(ARCHDIR)/paging/ipi.o \
$(ARCHDIR)/paging/kernel.o \
$(ARCHDIR)/syscall/proc.o \
$(ARCHDIR)/debug.o \
$(ARCHDIR)/heap.o \
$(ARCHDIR)/init.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/isr_stubs.o \
$(ARCHDIR)/memlayout.o \
$(ARCHDIR)/mpt.o \
$(ARCHDIR)/multiboot_init.o \
$(ARCHDIR)/palloc.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/proc.o \
$(ARCHDIR)/scheduler.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/syscall.o \
$(ARCHDIR)/thread_lock.o \
$(ARCHDIR)/thread_switch.o \
$(ARCHDIR)/thread.o \
$(ARCHDIR)/vga_debug.o \
